<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey there <%= first_name @email  %>,</h1>
    <p>
      Somebody's kinda into you. A secret admirer has sent you the following message:<br/>
        <blockquote>@content</blockquote><br/>
      Who could it be? Could it be the man/woman of your dreams? You'd better come to the Last Chance Dance on Thursday to find out. <br/>
    </p>
    <p>
      Yours truly, <br/>
      Cupid
    </p>
  </body>
</html>