<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hey there <%= @crusher %>,</h1>
    <p>
      Love has found you.<br/>
      You have been matched with <%= @crushee %>. They think you're hot shit. You know they're hot shit.</br>
      Make sure you come to the Last Chance Dance this Thursday, its your LAST CHANCE to get weird with <%= @crushee %>.</br>
    </p>
    <p>
      Yours truly, <br/>
      Cupid
    </p>
  </body>
</html>