<div class="headline">
  <h1 class="logo-wrapper">
    <div class="logo"></div>
    LoveMachine
    <small>Find your Yale crushes.</small>
  </h1>
  <a href="/login" class="btn btn-large span3 landing-btn">Login with CAS</a>
</div>
