<head><embed src="/assets/file2.mp3" autostart="true" loop="true" hidden="true"> </head>
<div class="row header">
  
  <div class="offset2 span6">
    <h1 class="logo-wrapper">
      LoveMachine
      <small>Find your Yale crushes.</small>
    </h1>
  </div>
  <div class="offset1 span2">
    <div id="logo"></div>
  </div>
</div>

<div class="row matches">
  <div class="offset2 span8">
    <h2>Matches</h2>
    <% if @matches.length == 0 then %>
      <div class="match-group tile none">
        <h3>No matches yet.</h3>
        <h4>Check back soon once more people have picked their crushes!</h4>
      </div>
    <% end %>
    <% @matches.each do |match| %>
      <div class="match-group tile">
        <span class="icon heart"></span>
        <h3><%= match %></h3>
      </div>
    <% end %>
  </div>
</div>

<div class="row hints">
  <div class="offset2 span8">
    <h2>Hints</h2>
    <% if @hints.length == 0 then %>
      <div class="hint-group tile none">
        <h3>No hints yet.</h3>
      </div>
    <% end %>
    <% @hints.each do |hint| %>
      <div class="hint-group tile">
        <span class="icon hint"></span>
        <%= hint.content %>
      </div>

    <% end %>
  </div>
</div>

<div class="footer">
</div>